.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
*{
    font-family: Roboto;
}
body{
    text-align: center;
    color:white;
}

html, body {
    height: 100%;
    margin: 0;
}


footer{
    height: 7%;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 107, 0.5);
    backdrop-filter: blur(10px);
    /* border-top: 3px solid aqua; */
}

main{
    height: 100%;
    background-image: url("milionerzy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#nastepne{
    display:none; 
}

#quiz{
    background-color: rgba(28, 28, 107, 0.5);
    backdrop-filter: blur(10px);
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    display:none; 
    border-top: 3px solid aqua;
    box-sizing: border-box;
}

#pytanie{
    height: 20%;
}

#odpowiedzi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
#odpowiedziGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    width: 75%;
    height: 100%;
}

.odp{
    text-align: left;
    padding-left: 20px;
}

button{
    background: linear-gradient(to right, hsl(240, 100%, 56%), hsl(240, 100%, 20%));
    border: 2px solid white;
    border-radius: 20px;
    color:white;
    font-size: 2rem;
    cursor:pointer;
    transition: ease 0.5s;
}
button:hover{
    transform: scale(1.025);
    transition: ease 0.5s;
    box-shadow: 0 0 20px aqua;
}

.poprawna{
    background: linear-gradient(to right, hsl(135, 100%, 56%), hsl(135, 100%, 20%));
}

.zla{
    background: linear-gradient(to right, hsl(0, 100%, 56%), hsl(0, 100%, 20%));
}

.czekaj{
    background: linear-gradient(to right, hsl(41, 100%, 56%), hsl(41, 100%, 20%));
}

#wygrana{
    display:none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainmenu{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainmenu div{
    display: flex;
    justify-content: center;
    align-items: center;

}

#start,#nastepne{
    width:300px;
    height: 100px;
}

#prawy{
    height: 100%;
    width: 20%;
    float:right;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(37, 37, 142,0.75);
    border-left: 3px solid aqua;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

#lewy{
    height: 100%;
    width: 20%;
    float:left;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(37, 37, 142,0.75);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-right: 3px solid aqua;
}

#srodek{
    height: 100%;
    width: 60%;
    float:left;
}

#srodekmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#staty{
    height: 10%;
    background-color: rgba(93, 93, 213,0.7);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    border-bottom: 3px solid aqua;
}

#staty p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    height: 100%;
}

#menu{
    display:none;
    height: 60%;
}

#kasa{
    font-size: 1.5rem;
}

.pogrubienie{
    background-color:orange;
    color:white;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    border-radius: 15px;
}


